.maincon{
    width: 70%;
    
    margin-left: auto;
    margin-right: auto;
}

header{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 69.4%;
    height: 13vh;
    
}

.hdiv1{
  display: flex;  
  margin-top: 16px;font-weight: 600;
}
.under25{
    width: 6vh;  
    padding-right: 1rem; 
    
}

ul{
    display: flex;
    gap: 3rem;
    list-style: none;
    font-weight: 600;
}
button{
   font-size: 15px;
    align-items: center;
   background-color: black;
   color: aliceblue;
   text-align: center;
   border-radius: 7;
   border-radius:15px;
   padding: 0.8rem;
}
.img1{
    margin-top: 7rem;
   margin-bottom:4.5rem ;
   width: 100%;
    
 }
 .avatar,.avatar2{
    display: flex;
   font-size: 12px; 
   justify-content: space-between;
   
 }

 .redimg,.blueimg,.greenimg,.yellowimg,.purpleimg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
    
 }
 .red,.green,.blue,.yellow,.yellow1,.green1,.purple{
    align-items: center;
     height: 40px;
    display:flex;
    border: 2px solid rgb(187, 186, 186);
   padding: 20px;
   border-radius: 100px;
    
     }
     h2,p{
        margin-top: 5px;
        margin-left: 6px;
    }
    .red,.green{
        margin-top: 70px;
    }
    .yellow{
        margin-top: 130px;
    }
.para1{
    text-align: center;
    font-size: 3em;
    font-weight:00;
}

.p3{
    text-align: center;
    font-size: 1.5em;
    
}
.img2{
width: 100%;
}
.rank{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}
.tit{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 8rem;
    margin-bottom: 5rem;
}
.topopp{
    display: flex;
    flex-wrap: wrap;
    margin: 0 8.5rem;
    justify-content: space-evenly;
}
.box{
    display: flex;
    border:  1px solid rgb(213, 206, 206);
    border-radius: 20px;
    width: 30rem;
    margin-bottom: 3rem;
}
.head{
   text-align: start;
    padding-left:1rem;
    font-size: 20px; 
    flex-grow: 1; 
}
.cost{
    align-self: flex-end;
      width: 60px;
      margin: 0.5rem;
  }
  .det{
  position: absolute;
  padding-left: 8rem;
  padding-top: 5.5rem;

}
.onelogo,.twologo,.threelogo,.four{
    width: 100px;
    margin: 10px;
   
 }
 .cont2{
    text-align: center;
 }
 .incon{
    margin: 0 9.5rem;
    margin-top: 7rem;
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    column-gap: 2rem;
    margin-bottom: 15rem;

    
}
.boxtwo{
    text-align: center;
    width: 20rem;
    border:  1px solid rgb(213, 206, 206);
    border-radius: 18px;
   
}
.innimg{
    width: 10vh;
    padding-top: 1.8rem;

}
.txt2{
    font-size: 20px;
}
.p2{
    font-size: 16px;
    padding-bottom: 1.8rem;
}
.sss{
    text-align: center;
}

.last{
    display: flex;
    height: 18rem;
    justify-content: space-evenly;
    height: auto;
    border-bottom: 1px solid rgb(213, 206, 206); ;
    margin-top: 12rem;
}
.lastpic{
    width: 23vh;
    height: 23vh;
}
.nav2{
    padding-right: 10px;
    color: rgb(141, 135, 135);
    
}
.lp{
    text-align: center;
     color: rgb(141, 135, 135);

     margin-bottom: 15rem;
}
























































/* body{
  
  width: 100%;
  margin: 0 auto;
}
*{margin: 0%;
    padding: 0%;
   }

   .maincon{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
   }

   .header {
    position: fixed;
    top: 0;
   
    width: 80%;
    left: 15%;
    right: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    background-color: white;
    padding: 0 20px;
}

nav{
    display: flex;
    
}
nav ul{
   
    display: flex;
    list-style: none;
    gap: 3rem;
  margin-left: 15%;
   font-size: 1.3em;
   font-weight: 500;
  
}
.logo{
 display: flex;
 align-items: center;
 
 font-weight: bolder;
 
 
}
img{
    width: 50px;

}
button{

    font-size: 15px;
   
  
   align-items: center;
   background-color: black;
   color: aliceblue;
   text-align: center;
   border-radius: 7;
   border-radius:50px;
   padding: 15px;  
    
}
h1{
    position: relative;
    display: flex;
    font-size: 16PX;
    
}
 .img1{
   
    
    
    margin-top: 7rem;
   
    
    margin-bottom:4.5rem ;
    
 }

 .avatar,.avatar2{
    display: flex;
    justify-content: space-between;
   font-size: 12px;
  margin-left: auto;
  margin-right: auto;
   width: 70%;
   
  
   
 }
 .red,.green,.blue,.yellow,.yellow1,.green1,.purple{
    align-items: center;
     height: 40px;
    display:flex;
    border: 2px solid rgb(187, 186, 186);
   padding: 20px;
   border-radius: 100px;
   justify-content: space-between;
   
    
    
     }
     .redimg,.blueimg,.greenimg,.yellowimg,.purpleimg{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        justify-content: space-evenly;
        
     }
h2,p{
    margin-top: 5px;
    margin-left: 6px;
}
.red,.green{
    margin-top: 70px;
}
.yellow{
    margin-top: 130px;
}
.para1{
  
   
 padding-left: 20%;
padding-right: 20%;
   margin: 20px;
}
h3{
    padding-left: 15%;
    padding-right:15%;
    font-size: 45px;
    font-weight:540;to
    
}
.purple{
    margin-top: 70px;
}
.para2{
    margin-top: 70px;
    text-align: center;
    font-size: 1.5rem;
}.img2{
    width:60%;
}
h4{
    padding-left: 7.5rem;
    font-size: 45px;
    font-weight:540;
}
.rank{
    width: 70%;
    padding-left: 17%;
    padding-right: 17%;
    margin-right: auto; 
    display: flex;
    gap: 200px;

}
.score{
    font-size: 20px;

}
h1{
    font-size: 40px;
}

.topopp{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    
    padding: 0 4%;
    margin-right: auto;
   
    margin-left: 14rem;
    
    
}
.tit {
   
    text-align: center;
    margin-top: 11rem;
    font-size: 40px;
    
}
.view{
    margin-top: 11rem; 
    margin-left: 42rem;
    width: 105px;
    background-color: white;
    border: 0.1px solid grey;
    color: black;
    border-radius: 10px;
}

.onelogo,.twologo,.threelogo,.four{
   width: 100px;
   margin: 10px;
  
}
.cost{
    
  align-self: flex-end;
    width: 60px;
    margin: 0.5rem;
   
}

.container{
   display: flex;
   flex-wrap: wrap;
   column-gap: 2rem;
   row-gap: 2rem;
}
.box{
   margin: 1rem;
    margin-top: 20px;
    display: flex;
    width: 31rem;
    border: 0.1px solid grey;
    border-radius: 20px;
    
   
}
.head{
    padding-left:2rem;
    padding-top: 1rem;
    font-size: 20px;
    height: 20px;
}
    .det{
        position: absolute;
        margin: 0;
        padding: 0;
        padding-top: 3rem;
        padding-left: 9rem;
    }

.cont2{
    margin-top: 15rem;
}
.container2{
    margin-top: 7rem;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    row-gap: 2rem;
    column-gap: 2rem;
    margin-bottom: 15rem;

    
}
.boxtwo{
    text-align: center;
    width: 20rem;
    border:  1px solid rgb(213, 206, 206);
    border-radius: 20px;
    margin-left: 4rem;
   
}
.innimg{
    width: 10vh;
    padding-top: 1.8rem;

}
.txt2{
    font-size: 20px;
}
.p2{
    font-size: 16px;
    padding-bottom: 1.8rem;
}
.sss{
    font-size: 50px;
    margin-bottom: 40px;
}
.sssp{
    font-size: 25px;
    margin-bottom: 4rem;
}
.lastpic{
    width: 20vh;
    margin-left: 4rem;
}

.last{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}